.links{
  margin: auto 3rem;
  padding: auto;
}

.links > a > button{
  width: 100%;
  padding: 1rem;
  margin: 0.5rem auto;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.links > a > button:hover{
  background-color: #dddcdc;
}

.logos{
  margin: auto 3rem;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.logos > *{
  padding: 1rem;
}

footer{
  margin: auto 3rem;
  padding: auto;
}

.footer-logos{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer-logos{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .footer-text{
    text-align: center;
  }
}