.links{
  margin: auto 3rem;
  padding: auto;
}

.links > a > button{
  width: 100%;
  padding: 1rem;
  margin: 0.5rem auto;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.links > a > button:hover{
  background-color: #dddcdc;
}